body {
    text-align: center;
    color: rgb(19, 19, 63);
    background-color: whitesmoke;
}

.slider{
    position: relative;
    width: 60%;
    height: 40%;
    margin: auto;
    overflow: hidden;
}
.slider img {
    width: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 5px 10px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}