@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');


body { 
    font-family: "Courier Prime", monospace;
    background:#fffcf2; 
    display: grid;
    justify-content: center;
    
}
.title {
    display: flex;
    justify-content: center;
}
.stopwatch {
    width: 500px;
    height: 250px;
    text-align: center;
    padding-bottom: 45px;
    background: #000000;
    color: #fff; 
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.buttons img:nth-child(2) {
    width: 80px;
}