@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}
.container {
    
    /* background-image: url("image/Ivana.avif"); */
    position: relative;
    height: 420px;
    width: 320px;   
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0. 0, 0.1);
    cursor: pointer;
}
.container .picture {
   width: 100%;
   height: 100%;
   border-radius: 12px;
}
.container .heart {
    position: absolute;
    font-size: 40px;
    color: red;
    left: 50%;
    top: 50%;  
    opacity: 0;
    transform: translate(-50%, -50%);
     
}
.heart.active {
    Animation: animate .8s linear forwards;
}
@keyframes animate {
    30% {
        opacity: 1;
        font-size: 80px;
    }
    50% {
        opacity: 1;
        font-size: 60px;
    }
    70% {
        opacity: 1;
        font-size: 70px;
    }
    80% {
        opacity: 1;
        font-size: 60px;
    }
    90% {
        opacity: 1;
        font-size: 60px;
    }
}
.next-page {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.nextBtn {
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #99582a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}